.App {
  --foregroundColor: #007079;
  --backgroundColor: white;
  --textColor: #333;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: var(--foregroundColor);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--textColor);
}

.App-link {
  color: var(--foregroundColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
